{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/themes/default.css' %}">
<link rel="stylesheet" href="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/themes/default.date.css' %}">
<link rel="stylesheet" href="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/themes/default.time.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script src="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/picker.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/picker.date.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/picker.time.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calender/date-picker/pickadate.js-3.5.6/lib/legacy.js' %}" type="text/javascript" charset="utf-8"></script>



<head>
    <H1> Client Booking Area </H1>
</head>

<body>

    <!--<div class = "form-group">-->
        <!--<form>-->
            <!--<label> Name </label>-->
            <!--<input type ="text"  name="clientName" id="clientName">-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class = "form-group">-->
        <!--<form>-->
            <!--<label> email </label>-->
            <!--<input type ="text" name="clientEmail" id="clientEmail">-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="form-group" id="pick date">-->
        <!--<form id="pickDateForm">-->
            <!--<label> Date </label>-->
            <!--<input type ="text" name="appointmentDate" id="appointmentDate">-->
        <!--</form>-->
    <!--</div>-->

    <!--<div class="form-group" id ="pick time">-->
        <!--<form id="pickTimeForm">-->
            <!--<label>Time</label>-->
            <!--<input type="text" name="appointmentTime" id="appointmentTime">-->
        <!--</form>-->
    <!--</div>-->

    <!--<div class="checkbox">-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
    <!--</div>-->

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>

</body>




<script>
    $(document).ready(function() {
        $('#id_date').pickadate({
            format: 'dd/mm/yyyy',
            altFormat: "yyyy-mm-dd",
            formatSubmit: 'yyyy-mm-dd',
            disable: [1,7],
            hiddenSuffix: ''


        });

        $('#id_time').pickatime({
            min: [9,00],
            max: [17,00],
            formatSubmit: 'H:i',
            hiddenSuffix: ''
        });
    });

</script>


</html>


