<!--dashboard home-->

{% extends 'calender/dashboard_base.html' %}

{% block content%}

<script type="text/javascript" charset="utf-8">

    function init() {
        scheduler.config.api_date="%Y-%m-%d %H:%i";
        scheduler.config.show_loading = true;
        scheduler.config.readonly = true;



        NProgress.start();
        scheduler.init('scheduler_here', new Date(), "month");

        getDashboardEvents();
        getTodaysSchedule();


        function getDashboardEvents() {
            $.ajax({
                type: 'GET',
                url: '/calendar/getEventsDashboard/',
                success: function (data) {
                    //                    timeArr = data.timex
                    //                    console.log(data.events)
                    for (i in data.events){
                        //                            add the events to calender

                        scheduler.addEvent(data.events[i][0],data.events[i][1],data.events[i][2] )

                    }
                    NProgress.done();
                }

            });
        }

        function getTodaysSchedule() {
            $.ajax({
                type: 'GET',
                url: '/calendar/getEventsForToday/',
                success: function (data) {

                    //                    timeArr = data.timex
                    //                    console.log(data.events)
                    x = data.events.length;
                    console.log(x)
                    if(x==0){
                        var html = '<div  class="list-group-item"> \
                                    <i class="fa fa-comment fa-fw"></i> No events today \
                                    <span class="pull-right text-muted small"><em>\
                                    </em></span>\
                                    </div>'

                        $(document.getElementById("event_block_insert")).append( html );
                    }
                    else {

                        for (i in data.events) {
                            //                            add the events to calender
                            var time = new Date(data.events[i][0]).toLocaleTimeString()
                            var html = '<div  class="list-group-item"> \
                                    <i class="fa fa-comment fa-fw"></i> ' + data.events[i][2] + '\
                                    <span class="pull-right text-muted small"><em>' + time + '\
                                    </em></span>\
                                    </div>'

                            $(document.getElementById("event_block_insert")).append(html);

                        }
                    }
                }
            });
        }

    }




</script>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-8">

            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--<i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example-->
            <!--<div class="pull-right">-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div style="width: 800px; height: 500px;">-->
            <!--<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>-->
            <!--<div class="dhx_cal_navline">-->
            <!--<div class="dhx_cal_prev_button">&nbsp;</div>-->
            <!--<div class="dhx_cal_next_button">&nbsp;</div>-->
            <!--<div class="dhx_cal_today_button"></div>-->
            <!--<div class="dhx_cal_date"></div>-->
            <!--<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>-->
            <!--<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>-->
            <!--<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>-->
            <!--</div>-->
            <!--<div class="dhx_cal_header">-->
            <!--</div>-->
            <!--<div class="dhx_cal_data">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Schedule
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="width: 100%; height: 500px;">
                    <!--<div id="morris-area-chart">-->
                    <!--SCHEDULER-->
                    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
                        <div class="dhx_cal_navline">
                            <div class="dhx_cal_prev_button">&nbsp;</div>
                            <div class="dhx_cal_next_button">&nbsp;</div>
                            <div class="dhx_cal_today_button"></div>
                            <div class="dhx_cal_date"></div>
                            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
                            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
                            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
                        </div>
                        <div class="dhx_cal_header">
                        </div>
                        <div class="dhx_cal_data">
                        </div>
                    </div>

                    <!--</div>-->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Today's Schedule
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <div id="event_block_insert"></div>
                        <!--<div  class="list-group-item">-->
                            <!--<i class="fa fa-comment fa-fw"></i>-->
                            <!--<div id="event_name_insert"></div>-->
                            <!--<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                        <!--</div>-->
                        <!--<div  class="list-group-item">-->
                            <!--<i class="fa fa-comment fa-fw"></i>-->
                            <!--<div id="event_name_insert"></div>-->
                            <!--<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                        <!--</div>-->

                    </div>
                <div/>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


{% endblock %}