{% extends 'calender/dashboard_base.html' %}
{% load static %}

{% block content %}


<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Booking Link Generator</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <!--Print error or success messages for email -->
        {% for message in messages %}
        <div class=" col-lg-12 alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Email Booking Link
                </div>
                <!-- /.panel-heading -->
                <form method="post">
                    <div ng-app ng-init="name='Sir/Madam'; user='{{user.first_name}}'; host = '{{ request.get_host }}' " class="panel-body">
                        <!--<label>Name:</label>-->
                        <!--<input type="text" id="client_name" ng-model="name"  class="form-control">-->
                        <!--<form method="post">-->
                            {% csrf_token %}
                            {{ form }}
                            <p></p>
                            <input type="submit" value="Send" class ="btn btn-primary"/>
                        <!--</form>-->
                    </div>
                </form>
            </div>

            <!-- /.panel-body -->
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Booking Link Generator
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form id="form" name="form">
                        <label>Name:</label>
                        <input required type="text" name="fname" id="name" class="form-control" ><br>
                        <label>Email:</label>
                        <input required type="email" name="email" id ="email" class="form-control" ><br>
                            <!--<input type="submit">-->
                        <input id = "generateLink" type="submit" class="btn btn-primary btn-lg btn-block" value = "Generate Booking Link"/><br>

                    </form>



                    <div id="link_div" style="display:none;" class="alert alert-success"  >
                        <!--<button type="button" class="close"  data-dismiss="alert" aria-hidden="true">&times;</button>-->
                        https://{{ request.get_host }}/calendar/booking/<p style="display:inline" id="token_insert"></p>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>


    </div>
</div>
<!-- /.container-fluid -->
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>


<script>

    $("#form").submit(function(e) {
        e.preventDefault();
        var token;
        name = document.getElementById("name").value;
        email = document.getElementById("email").value;

        $.ajax({
            type: 'GET',
            url: '/calendar/dashboard/generatebookingurl/' + name + '/' + email,
            success: function (data) {
                token = data.token.toString()
//                console.log(token.toString())
                document.getElementById('token_insert').innerHTML = token.toString()
                document.getElementById('link_div').style.display = "block";

            }
        });
    });


</script>



{% endblock %}