{% extends 'calender/dashboard_base.html' %}
{% load static %}

{% block content %}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Booking Link Generator</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Booking Link Generator
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <button id = "generateLink" type="button" class="btn btn-primary btn-lg btn-block" onclick="generateLink()">Generate Booking Link</button>
                    <p></p>
                    <div id="link_div" style="display:none;" class="alert alert-success"  >
                        <!--<button type="button" class="close"  data-dismiss="alert" aria-hidden="true">&times;</button>-->
                        {{ request.get_host }}/calender/booking/<p style="display:inline" id="token_insert"></p>


                    </div>

                </div>


            </div>
            <!-- /.panel-body -->

        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Email Booking Link
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                </div>


            </div>
            <!-- /.panel-body -->

        </div>

    </div>
</div>
<!-- /.container-fluid -->
</div>
<script>
    function generateLink() {
        var token;
        $.ajax({
            type: 'GET',
            url: '/calender/dashboard/generatebookingurl',
            success: function (data) {
                token = data.token.toString()
                console.log(token.toString())
                document.getElementById('token_insert').innerHTML= token.toString()
                document.getElementById('link_div').style.display = "block";

            }
        });




    }
</script>


{% endblock %}